// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

// Fonts

$space-mono-slab: 'Space Mono', sans-serif;


.App {
  text-align: center;
  font-family: $space-mono-slab;

  #quote-box {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    color:black;
    width: 50%;
    #author {
      text-align: end;
      padding-right: 5%;
      padding-bottom: 20px;
    }
    #tweet-quote {
      float: left;
      padding-left: 5%;
      font-size: 3.2rem;
      color: green;
    }
    #facebook-quote {
      float: left;
      padding-left: 1.8%;
      font-size: 3.2rem;
      color: green;
    }
    #new-quote {
      float: right;
      margin-right: 5%;
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      font-family: $space-mono-slab;
      font-size: 1.2rem;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}



